<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round" type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
  </head>
  <body ng-app="todoListApp">
    <div ng-controller="mainCtrl" class="list">
      <h1 ng-click="helloWorld()">My TODOs</h1>
      <input type="checkbox" name=""/>
      <label class="editing-label" ng-click="helloWorld()">A sample todo!</label>
      <input class="editing-label" type="text"/>
      <div class="actions" ng-controller="coolCtrl">
        <a href="" ng-click="whoAmI()">Edit</a>
        <a href="" ng-click="helloWorld()">Save</a>
        <a href="" class="Delete">Delete</a>
      </div>
    </div>
    <script type="text/javascript" src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>
</html>